<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>

<form action="/add_doctor" method="post">
    <p><input type="text" name="firstName"> firstName</p>
    <p><input type="text" name="lastName"> lastName</p>
    <p><input type="text" name="middleName"> middleName</p>
    <p><input type="email" name="email"> email</p>
    <p><input type="tel" name="phoneNumber"> phoneNumber</p>
    <p><input type="text" name="specialtys"> specialtys</p>

    <p><input type="submit"></p>
</form>

</body>
</html>