<form th:action="@{/save-project}" th:object="${project}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label>Project ID</label>
            <input type="number" class="form-control" th:field="*{id}">
        </div>
        <div class="col-md-6 form-group">
            <label>Title</label>
            <input type="text" class="form-control" th:field="*{title}">
        </div>
        <div class="col-md-6 form-group">
            <label>Type</label>
            <select class="form-control" th:field="*{type}">
                <option value="">Choose...</option>
                <option value="Design">Design</option>
                <option value="Engineering">Engineering</option>
                <option value="Marketing">Marketing</option>
            </select>
        </div>
        <div class="col-md-6 form-group">
            <label>Color</label>
            <input type="color" class="form-control" th:field="*{color}">
        </div>
        <div class="col-md-6 form-group">
            <label>Estimated Price</label>
            <input type="number" step="any" class="form-control" th:field="*{price}">
        </div>
        <div class="col-md-6 form-group">
            <label>Launch Date</label>
            <input type="datetime-local" class="form-control" th:field="*{launchDate}">
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" th:field="*{description}" rows="3"></textarea>
    </div>
</form>